<div id="navigation">
	<div class="profile-picture">
		<a href="index.html">
			<img src="components/images/admin.png" class="img-circle m-b" alt="logo">
		</a>

		<div class="stats-label text-color">
			<span class="font-extra-bold font-uppercase" ng-bind="_self.name"></span>
		</div>
	</div>

	<ul side-navigation class="nav metismenu" id="side-menu">
		<li ui-sref-active="active">
			<a ui-sref="statistics">
				<span class="nav-label">统计</span>
			</a>
		</li>

		<li ui-sref-active="active">
			<a ui-sref="transports">
				<span class="nav-label">运输记录</span>
			</a>
		</li>

		<li ui-sref-active="active">
			<a ui-sref="sites">
				<span class="nav-label">工地</span>
			</a>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="qrcodes">
				<span class="nav-label">工地二维码</span>
			</a>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="directors">
				<span class="nav-label">主管</span>
			</a>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="motorcades">
				<span class="nav-label">司机</span>
			</a>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="materiels">
				<span class="nav-label">物料</span>
			</a>
		</li>

		<li ui-sref-active="active">
			<a ui-sref="rewards">
				<span class="nav-label">价格预设</span>
			</a>
		</li>

	</ul>
</div>